.dashboard{
    background: url(../../img/dashboardBack.jpg);
    background-size: cover;
    height: 100vh;
}

.ele3{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 10px;
    left: 310px;
    transform: rotate(-20deg);
    z-index: 2;
}
.navigations{
    z-index: 1;
}

.chart-display{
    position: absolute;
    top:140px;
    left:400px;
    width:50%;
}