.addCategory-top{
  background: url(../../img/dashboardBack.jpg);
  background-size: cover;
  height: 100vh;
}

.ele3{
  width: 70px;
  height: 70px;
  position: absolute;
  top: 10px;
  left: 310px;
  transform: rotate(-20deg);
  z-index: 2;
}
.navigations{
  z-index: 1;
}

.category-container {
  top:120px;
  left: 620px;
  position: absolute;
  width: 65%;
  height:63%;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #bbb8b8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
  .text-center {
    text-align: center;
  }
  
  .form-title-cat{
    font-family: "NonBureauBold", sans-serif;
    word-spacing: 0.3em;
    letter-spacing: 0.1em;
    font-size: 30px;
    font-weight: 600;
    color: #333;
  }
  
  .form-subtitle-cat{
    color: #565656;
    font-family: "NonBureauMedium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.1em;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  .form-label-cat {
    display: flex;
    align-items: center;
    font-family: "NonBureauMedium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #444;
    margin-bottom: 0.5rem;
  }
  
  .icon-category{
    color: #333;
    margin-right: 0.5rem;
  }

#type-form{
  height:50px;
  width:100%;
}
  .form-input-cat {
    width: 97%;
    height:30px;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #5656569a;
    transition: border-color 0.3s;
    font-family: "NonBureauMedium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  
  .form-input-cat:focus {
    border-color: #5656569a;
    outline: none;
    box-shadow: 0 0 0 3px #5656569a;
  }
  
  .form-error {
    color: #e74c3c;
    font-size: 12px;
    margin-top: 0.25rem;
  }
  
  .form-button-cat {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background-color: #565656ee;
    color: #fff;
    height:50px;
    font-weight: bold;
    border: none;
    margin-top: 70px;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 0.2em;
    transition: background-color 0.3s;
    font-family: "NonBureauMedium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  
  .form-button-cat:hover {
    transform: scale(1.03);
    background-color: rgb(18, 18, 18);
  }
  