/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  @font-face {
    font-family: 'BehanceFont'; 
    src: url('../public/fonts/behance-656346cc88819.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Behance2'; 
    src: url('../public/fonts/Behance2.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'NonBureauBold'; 
    src: url('../public/fonts/NonBureauBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'NonBureauMedium'; 
    src: url('../public/fonts/NonBureauMedium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'NonBureauRegularItalic'; 
    src: url('../public/fonts/NonBureauRegularItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'NonBureauLightItalic'; 
    src: url('../public/fonts/NonBureauLightItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Blinders'; 
    src: url('../public/fonts/blinders.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  .cursor__dot div {
    z-index: 999999 !important;
  }
  
  .cursor__dot div:last-child {
    background-color: #1a1a1a !important;
  }
  
  .cursor__dot div:first-child {
    background-color: rgba(116, 114, 114, 0.8) !important;
  }
  
  *::-webkit-scrollbar {
    display: none;
  }